.catalog {
  padding-top: 65px;
  padding-bottom: 140px;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 76px;
  }

  @include vp-767 {
    padding-top: 47px;
    padding-bottom: 86px;
  }
}

.catalog__title {
  font-family: $ff-custom;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  margin: 0 0 54px;
  color: $color-default-white;

  & span:first-child {
    display: none;
  }

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    width: 200px;
    margin-bottom: 29px;

    & span:first-child {
      display: inline;
    }

    & span:last-child {
      display: none;
    }
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 85px;
  row-gap: 40px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.catalog__item {
  @include vp-1023 {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
